<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <form action="/payment/to_ecpay/123" method="post">-->
        <form method="post" id="form" action="/api/order_info">
            <input type="text" id="order_token" name="order_token" value="a4cb4ca8f210fb45c5d0330bedb475da"><br><br>
            <input type="text" id="order_number" name="order_number" value="20221003"><br><br>
            <input type="text" id="order_event_code" name="order_event_code" value="Q7SSS:1000:100"><br><br>
            <input type="text" id="order_phone" name="order_phone" value="0978233315"><br><br>
            <input type="text" id="order_comment" name="order_comment" value="不要買"><br><br>
            <input type="text" id="order_name" name="order_name" value="黃昱翊"><br><br>
            <input type="text" id="store_info" name="store_info" value="13111386 建盛門市(新竹市東區建中一路52號1樓)"><br><br>
            <input type="text" id="order_product" name="order_product" value="2e7cd492d7331629f31d9cc13a74643d:0:1;2e7cd492d7331629f31d9cc13a74643d:1:2"><br><br>
            <input type="submit" value="Submit">
        </form>

</body>

</html>