<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交易成功</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.9.1/dist/quasar.prod.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="q-app">
        <div class="row items-center justify-center q-gutter-sm" style="width:100%;height:100vh">
            <q-card style="width:97%;max-width:600px;min-height:300px">
                <q-card-section>
                    <div class="text-h1 text-green text-blod row justify-center">{{'交易成功' if target_dict['RtnMsg'] == 'Succeeded' else '交易失敗'}}</div>
                    <div class="text-h3 row justify-center items-center">NT$<span class="text-h2">{{target_dict['TradeAmt']}}</span></div>
                    <div class="text-h3">訂單編號：{{target_dict['order_number']}}</div>
                    <div class="text-h3">信用卡號：{{target_dict['card6no'] + '*****' + target_dict['card4no']}}</div>
                    <div class="text-h3">付款時間：{{target_dict['TradeDate']}}</div>
                </q-card-section>
                <q-card-actions align="around">
                    <q-btn label="明細" flat="flat" href="https://lovesusu.tw/shop"></q-btn>
                    <q-btn label="商店" flat="flat" href="https://lovesusu.tw/shop"></q-btn>
                </q-card-actions>
            </q-card>
        </div>
    </div>

    <!-- Add the following at the end of your body tag -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.9.1/dist/quasar.umd.prod.js"></script>

    <script>
      /*
        Example kicking off the UI. Obviously, adapt this to your specific needs.
        Assumes you have a <div id="q-app"></div> in your <body> above
       */


      const app = Vue.createApp({
        setup () {
          return {

          }
        }
      })

      app.use(Quasar)
      app.mount('#q-app')
    </script>
</body>
</html>